a {
  text-decoration: none !important;
}
.clickable:hover{
  cursor:pointer;
}
.small-face{
  width:25px;
  height:25px;
  opacity: 0.5;
  cursor:pointer;
}
.small-face:hover{
  opacity : 1;
  width:30px;
  height:30px;
}
.small-face-picked{
  opacity : 1;
}
.like-buttons-container{
  text-align: right;
  height:50px;
}
.like-buttons-container div{
  display:inline-block;
  width:30px;
  text-align:center;
}
