<template name="project">
  <div class="panel panel-info">
    <div class="panel-heading clearfix">
     <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
       <a href="/project/{{_id}}">
         <h3>{{projectName}}</h3>
       </a>
       <a href="/profile/{{userId}}">
         <small>{{author}}</small>
       </a>
       <a href="/chat/{{_id}}">
         Chat
       </a>
     </h4>
     {{#if currentUser }}
      {{#if isAdminOrYourself }}
       <div class="btn-group pull-right">
         <a href="/project/edit/{{_id}}"  class="btn btn-info"><span class="glyphicon glyphicon-edit"></span></a>
         <a class="btn btn-danger" id="delete-project" ><span class="glyphicon glyphicon-trash"></span></a>
       </div>
      {{/if}}
     {{/if}}
    </div>
    <div class="panel-body" id="vote">
      {{ projectDesc }}
      <div class="like-buttons-container">
        <div>
          {{#if isVotedByCurrentUser voted "awesomeScore"}}
            <img src="/images/icons/love.png" class="small-face small-face-picked" id="awesomeScore" />
          {{else}}
            <img src="/images/icons/love.png" class="small-face" id="awesomeScore" />
          {{/if}}
          <span>{{scores.awesomeScore}}</span>
        </div>
        <div>
          {{#if isVotedByCurrentUser voted "niceScore"}}
          <img src="/images/icons/happy.png" class="small-face small-face-picked" id="niceScore"/>
          {{else}}
          <img src="/images/icons/happy.png" class="small-face" id="niceScore"/>
          {{/if}}
          <span>{{scores.niceScore}}</span>
        </div>
        <div>
          {{#if isVotedByCurrentUser voted "badScore"}}
          <img src="/images/icons/sad.png" class="small-face small-face-picked" id="badScore"/>
          {{else}}
          <img src="/images/icons/sad.png" class="small-face" id="badScore"/>
          {{/if}}
          <span>{{scores.badScore}}</span>
        </div>
        <div>
          {{#if isVotedByCurrentUser voted "shitScore"}}
          <img src="/images/icons/cry.png" class="small-face small-face-picked" id="shitScore"/>
          {{else}}
          <img src="/images/icons/cry.png" class="small-face" id="shitScore"/>
          {{/if}}
          <span>{{scores.shitScore}}</span>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      {{ getDate time }}
    </div>
    <!--
    <p style="float:right">
      Voted: {{voted}}
    </p>
    -->
  </div>
</template>
